<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../views/templates/header.ejs') %>
  </head>
  <body>
    <%- include('../../views/templates/navbar.ejs') %>
    <div
      id="main-container"
      class="container-fluid d-flex justify-content-center align-items-center"
    >
      <form action="/" method="post">
        <div class="container fluid">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" name="firstName" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="lastName" />
            </div>
          </div>
        </div>
        <div class="container fluid">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="birthDate" class="form-label">Birth Date</label>
              <input type="date" class="form-control" name="birthDate" />
            </div>
          </div>
        </div>
        <div class="container fluid">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="passwordConfirmation" class="form-label"
                >Password Confirmation</label
              >
              <input
                type="password"
                class="form-control"
                name="passwordConfirmation"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
      </form>
    </div>
  </body>
</html>
